:root {
  --primary-color: #FEF6F1;
  --butterfly-color: #012726;
  --daisy-color: #A1A7B2;
  --autumn-color: #4A2F27;
  --heart-color: #A47C7A;
  --moon-color: #1A2940;
  --send-color: #7AA4D6;
  --receive-color: #FF656E;
  --box-shadow: 5px 5px 5px black;
}

body {
  background-color: var(--primary-color);
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.home-section,
.send-section {
  height: 75vh;
}

.error {
  width: 75%;
  margin: 0 auto 10px;
  padding: 10px 5px;
}

.error li {
  list-style: none;
  border-left: 4px solid crimson;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 5px 0 5px 9px;
}

.retro-card {
  border: 1px solid black;
  box-shadow: var(--box-shadow);
}

.signboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 9px;
}

.signboard.send-sb {
  border-bottom: 1px solid var(--send-color);
  background: var(--send-color);
  box-shadow: 0px 2px 2px black;
}

.signboard.title-sb {
  border-bottom: 1px solid black;
  background: transparent;
  box-shadow: 0px 1px 2px black;
}

.dots {
  margin-right: 5px;
}

.form-control {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.37);
}

.route-btn {
  border-radius: 20px;
  color: black;
  display: block;
  font-size: 25px;
  margin: 20px;
  padding: 45px;
  text-decoration: none;
  width: 270px;
  box-shadow: var(--box-shadow);
}

.route-btn:hover {
  box-shadow: 6px 6px 11px black;
}

.route-btn.send-btn {
  border: 1px var(--send-color) solid;
  background: var(--send-color);
}

.route-btn.receive-btn {
  border: 1px var(--receive-color) solid;
  background: var(--receive-color);
}

.stamp-btn {
  display: block;
  text-align: center;
  margin: 18px auto;
  text-decoration: none;
  padding: 18px 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.205);
  width: 80%;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  color: black;
  border: 1px solid black;
}

.butterfly-btn:hover {
  color: var(--primary-color);
  background: var(--butterfly-color);
  border: 1px solid var(--butterfly-color);
}

.daisy-btn:hover {
  color: var(--primary-color);
  background: var(--daisy-color);
  border: 1px solid var(--daisy-color);
}

.autumn-btn:hover {
  color: var(--primary-color);
  background: var(--autumn-color);
  border: 1px solid var(--autumn-color);
}

.heart-btn:hover {
  color: var(--primary-color);
  background: var(--heart-color);
  border: 1px solid var(--heart-color);
}

.moon-btn:hover {
  color: var(--primary-color);
  background: var(--moon-color);
  border: 1px solid var(--moon-color);
}

.stamp-img {
  display: block;
  width: 80%;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.submit-btn {
  background: transparent;
  border-radius: 13px 13px 0 0;
  transition: all .2s ease-in-out;
}

.submit-btn.send-btn:hover {
  background: var(--send-color);
}